<mat-toolbar>
  <button mat-icon-button (click)="navigateToProducts()" aria-label="Go to Products Home">
    <mat-icon>house</mat-icon>
  </button>
  <div class="nav-container">
    <a (click)="navigateToProducts()">
        Productos
    </a>
    <a (click)="navigateToPokemons()">
        Pokemon
    </a>
  </div>
  <span></span>
  <span class="spacer"></span>
  <button mat-icon-button matBadge="{{ cantidadEnCarrito }}" matBadgeColor="warn" aria-label="View Shopping Cart">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>

<router-outlet></router-outlet>
